# Pandas- aplikowanie funkcji na zestawach danych - apply()

### importy

In [27]:
import pandas as pd
import numpy as np

### datasety

In [28]:
mat = pd.read_csv("student-mat.csv", sep=';')
por = pd.read_csv("student-por.csv", sep=';')

Te dane dotyczą osiągnięć uczniów w szkołach średnich dwóch portugalskich szkół. Atrybuty danych obejmują :
- oceny uczniów, 
- cechy demograficzne, społeczne i związane ze szkołą 

<br> i zostały zebrane za pomocą szkolnych raportów i kwestionariuszy. 
<br> Dostarczono dwa zestawy danych dotyczące wyników w dwóch odrębnych przedmiotach: matematyka (mat) i język portugalski (por).

Opis zmiennych znajduje sie pod: https://archive.ics.uci.edu/ml/datasets/student+performance

### podstawowe informacje o danych

In [29]:
mat.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [30]:
por.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

### Zad. 1. Z obydwu datasetów odrzuć ostatnie 3 kolumny. Ze względu na to, że nie mamy ich opisu nie mozemy ich zinterpretować.

In [31]:
por.drop(["G1","G2","G3"], 1, inplace = True)

In [32]:
mat.drop(["G1","G2","G3"], 1, inplace = True)

### Zad. 2. Napisz funkcję, która podniesie do wielkiej litery nazwy kolumn. Zmień je w datasecie mat. (dla chętnych: zrobienie tego za pomocą lambdy)

In [33]:
def to_title(x):
    return x.title()

In [34]:
mat.columns = [to_title(col) for col in mat]

### Zad. 3. Spróbuj zaaplikować te funkcję również na na kolumnach Fjob oraz Mjob dla zestawu mat.

In [35]:
mat["Mjob"] = mat["Mjob"].apply(to_title)
por["Fjob"] = por["Fjob"].apply(to_title)

In [36]:
por["Fjob"].head()

0     Teacher
1       Other
2       Other
3    Services
4       Other
Name: Fjob, dtype: object

In [37]:
mat["Mjob"].head()

0    At_Home
1    At_Home
2    At_Home
3     Health
4      Other
Name: Mjob, dtype: object

### Zad. 4. Napisz funkcje, ktora zwroci True albo False jeśli dany student ma powyżej 16 lat. Nazwij ja jak chcesz.

In [38]:
def calculate_age(x):
    if x > 16:
        return True
    else:
        return False

### Zad. 5. Uzywajac powyzszej funkcji dodaj do wybranego zestawu danych kolumne z informacja, ktora jest wynikiem funkcji.

In [39]:
mat["Over_16"] = mat.Age.apply(calculate_age)

### Zad. 6 ** Zbuduj macierz koleracji dla por. Gdzie widzisz najwieksze zaleznosci i z czego moga one wynikac?

In [40]:
por.corr()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences
age,1.000000,-0.107832,-0.121050,0.034490,-0.008415,0.319968,-0.020559,-0.004910,0.112805,0.134768,0.086357,-0.008750,0.149998
Medu,-0.107832,1.000000,0.647477,-0.265079,0.097006,-0.172210,0.024421,-0.019686,0.009536,-0.007018,-0.019766,0.004614,-0.008577
Fedu,-0.121050,0.647477,1.000000,-0.208288,0.050400,-0.165915,0.020256,0.006841,0.027690,0.000061,0.038445,0.044910,0.029859
traveltime,0.034490,-0.265079,-0.208288,1.000000,-0.063154,0.097730,-0.009521,0.000937,0.057454,0.092824,0.057007,-0.048261,-0.008149
studytime,-0.008415,0.097006,0.050400,-0.063154,1.000000,-0.147441,-0.004127,-0.068829,-0.075442,-0.137585,-0.214925,-0.056433,-0.118389
failures,0.319968,-0.172210,-0.165915,0.097730,-0.147441,1.000000,-0.062645,0.108995,0.045078,0.105949,0.082266,0.035588,0.122779
famrel,-0.020559,0.024421,0.020256,-0.009521,-0.004127,-0.062645,1.000000,0.129216,0.089707,-0.075767,-0.093511,0.109559,-0.089534
freetime,-0.004910,-0.019686,0.006841,0.000937,-0.068829,0.108995,0.129216,1.000000,0.346352,0.109904,0.120244,0.084526,-0.018716
goout,0.112805,0.009536,0.027690,0.057454,-0.075442,0.045078,0.089707,0.346352,1.000000,0.245126,0.388680,-0.015741,0.085374
Dalc,0.134768,-0.007018,0.000061,0.092824,-0.137585,0.105949,-0.075767,0.109904,0.245126,1.000000,0.616561,0.059067,0.172952
Walc,0.086357,-0.019766,0.038445,0.057007,-0.214925,0.082266,-0.093511,0.120244,0.388680,0.616561,1.000000,0.114988,0.156373
health,-0.008750,0.004614,0.044910,-0.048261,-0.056433,0.035588,0.109559,0.084526,-0.015741,0.059067,0.114988,1.000000,-0.030235
absences,0.149998,-0.008577,0.029859,-0.008149,-0.118389,0.122779,-0.089534,-0.018716,0.085374,0.172952,0.156373,-0.030235,1.000000

1. Dalc i Walc 
2. Medu i Fedu 
3. goout i traveltime

### Zad. 7. Zbuduj funkcje, ktora dla konkretnego Fjob bedzie przypisywala wartosc wynagrodzenia. Wartosci wybierz "na oko", albo bazujac na wlasnej wiedzy. Dodaj kolumne z tymi wartosciami do zestawu por.

In [41]:
set(mat.Fjob)

{'at_home', 'health', 'other', 'services', 'teacher'}

In [42]:
def salary_counter(x):
    money = []
    if x == "Teacher":
        return 1000
    elif x == "Other":
        return 800
    elif x == 'Services':
        return 1500
    elif x == "Health":
        return 900
    elif x == "At_Home":
        return 1800

In [43]:
mat["Compensation"] = mat.Fjob.apply(salary_counter)

In [44]:
mat["Compensation"]

0      None
1      None
2      None
3      None
4      None
       ...
390    None
391    None
392    None
393    None
394    None
Name: Compensation, Length: 395, dtype: object